@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$light-color: #fff;
$dark-color: #000;
$primary-color: #0000ff;
$secondary-color: #3838b3d6;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 400;
    
}

section{
    width: 100vw;
    color: $dark-color;
    background: transparent;
}


.container {
    width: 95%;
    margin: 0 auto;
    padding: 15px 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
}

.btn {
    padding: 5px 7px;
    border-radius: 10px;
}